.lunch-menu {
    position: relative;
    min-height: 100vh;
    background: url('./../img/lunch-menu/bg1.webp') center / cover no-repeat fixed;
    flex-grow: 1;
    flex-shrink: 0;

    position: relative;
    top: 0;
    bottom: 0;

    
}


.lunch-menu__wrapper{
    background-color: hsla(0, 0%, 0%, 0.359);
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    color: #fff;
    z-index: 3;
}

.lunch-menu .mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    background-color: $background-color-accent;
    z-index: 2;
    opacity: 1;
    transition: all 5s;

    &.active {
        opacity: 0;
    }
}


.lunch-menu__title {
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
    text-align: center;
}