.p {
    background-color: transparent;
    color: $white-color;
    position: fixed;
    top: -250px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s;
    z-index: 10;
    padding-top: 10px;

    @media (max-width:1500px){
        top: -400px;
    }
    
  }

  .p.active {
    top: 0;
  }

  .p-btn {
    font-family: 'Ogg TRIAL';
    font-size: 150px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    scroll-behavior: smooth;

    @media (max-width:1500px) {
        font-size: 100px;
    }

    @media (max-width:899px) {
        font-size: 60px;
    }

    
  }