.svg-x {
    width: 28px;
    height: 28px;
    fill: $white-color;
}

.svg-arrow-emp {
    width: 32px;
    height: 50px;
    fill: $white-color;
}

.interior .svg-arrow-emp{
    fill: $text-color;
}

.svg-arrow-vert {
    width: 12px;
    height: 50px;
    stroke: $white-color;
}

.svg-arrow-goris {
    width: 52px;
    height: 27px;
    stroke: $white-color;
}

.svg-diamond {
    width: 36px;
    height: 48px;
    fill:$black-color;
}