$accent-color: rgba(129, 28, 21, 0.8);
$accent-color-fat: #811c15;
$accent-color-two: #ee8e87;
$accent-color-hover: #337ab7;
$text-title:#df1616;
$text-color: #8c8b8b;
$text-color-hover: #bcbcbd;

$black-color: #191919;
$black-color: #000;
$white-color: #e4e4e4;

$background-color-accent:#a99078;
$background-color: #fdf3e7;