.line-cross__vertical {
    position: absolute;
    width: 1px;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.212);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 6;
}

.line-cross__vertical-half {
    position: absolute;
    width: 1px;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.212);
    left: 70%;
    top: 50%;
    transform: translateX(-50%);
    z-index: 6;

    @media (max-width:1199px) {
        display: none;
    }
}

.line-cross__gorisontal{
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.233);
    top: 50%;
    left: 5%;
    z-index: 6;
    // transform: translateY(50%);

}

.line-cross__gorisontal-half{
    position: absolute;
    width: 45%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.233);
    top: 70%;
    left: 50%;
    z-index: 6;

}


.menu .line-cross__gorisontal, .menu .line-cross__vertical {
    background-color: rgba(0, 0, 0, 0.392);
}

.menu .line-cross__gorisontal {
    width: 30%;
    left: 35%;
    right: 35%;

}